name: "Publish API Documentation"

on:
  push:
    branches: main
    paths:
      - 'src/**'

  pull_request:
    branches: main
    paths:
      - 'src/**'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Build documentation
      uses: mattnotmitt/doxygen-action@v1.1.0
      with:
        doxyfile-path: "./Doxyfile"
        working-directory: "."

    - name: Publish documentation
      continue-on-error: true
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./html
